extends layout

block content

    div.container

        div.row
            label username
            input.col-xs-6(type="text", id="username", name="User")
        div.row
            input.col-xs-6(type="password")
